/* TODO: client name hover isn't changing color */
.priority-value {
    padding: 0 .8em;
    font-weight: bold;
    font-size: 2rem;
    font-family: monospace;
    border-top: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid rgb(192, 192, 192);
    border-left: 1px solid rgb(192, 192, 192);
}

.priority-control > button {
    cursor: pointer;
}

.feature-request {
    margin: 1rem 0;
}

.info {
    border-top: 1px solid rgb(192, 192, 192);
}

.feature-request .tags ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tags {
    display: inline-block;
}

.tag:first-child { margin-left: 0; }
.tag:last-child { margin-right: 0; }
.tag {
    display: inline-block;
    color: #39739d;
    background-color: #e1ecf4;
    padding: .1rem .4rem;
    margin: .1rem;
}

.feature-request .status {
    display: inline-block;
}

.gutter-fix-left {
    margin-left: -15px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: black;
}

a:hover {
    color: #09436d;
    text-decoration: none;
}

a:active { }

.hover-info { cursor: help; }