.brdr.priority { border: 1px solid #e7e7e7; }
.brdr.priority-control { border-left: 1px solid #e7e7e7; }

.priority-value {
  padding: .2rem .8rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: monospace;
}
.priority-control .bottom {
  padding: .65rem .4rem 0 .4rem;
}
.priority-control .top {
  padding: 0 .4rem .65rem .4rem;
}

.feature-request {
    margin: 1rem 0;
}

.info {
    border-top: 1px solid #e7e7e7;
}

.feature-request .tags ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.feature-request .tags {
    display: inline-block;
}

.feature-request .tags li:first-child {
    margin-left: 0;
}
.feature-request .tags li {
    display: inline-block;
    color: #39739d;
    background-color: #e1ecf4;
    padding: .1rem .4rem;
    margin: .1rem;
}

.feature-request .status {
    display: inline-block;
}

.gutter-fix {
    margin-left: -15px;
    margin-right: -15px;
}

