{% extends "base.html" %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/stylesheet.css">
{% endblock %}

{% block content %}
  <div class="container">
    {# Title/Header. #}
    <div class="row mt-4">
      <div class="col-auto"><h3>Feature Requests</h3></div>
      <div class="col-auto ml-auto gutter-fix">
        {# TODO: Select dropdown for client? #}
        <button type="button" class="btn btn-primary">New Feature</button>
      </div>
    </div>
    {# Feature requests. #}
    <div class="gutter-fix" data-bind="if: featureRequests().length === 0">
      <div class="row">
        {# TODO: Better looking display. #}
        <div class="col-auto mx-auto my-5">
          No feature requests exist!
        </div>
      </div>
    </div>
    <div class="gutter-fix" data-bind="foreach: featureRequests">
      <div class="row feature-request">
        {# Priority #}
        <div class="col-auto">
          <div class="brdr priority d-flex align-items-center">
            <div class="m-0 justify-content-center priority-value">
              <span data-bind="text: priority"></span>
            </div>
            <div class="d-flex flex-column brdr priority-control">
              <div class="bottom fa fa-caret-up" data-bind="click: $parent.incrementPriority"></div>
              <div class="top fa fa-caret-down" data-bind="click: $parent.decrementPriority"></div>
            </div>
          </div>
        </div>
        {# Static FR information #}
        <div class="col info py-1">
          <div class="title">
            <a data-bind="text: client().name, click: $parent.filterByClient"></a>
            <span>-</span>
            <a data-bind="text: title, attr: { href: '' }"></a>
          </div>
          <div class="d-flex">
            <div class="tags" data-bind="visible: productAreas().length > 0">
              <ul data-bind="foreach: productAreas()">
                <li data-bind="text: name"></li>
              </ul>
            </div>
            <div class="ml-auto status">
              <span>modified</span>
              <span class="hover-info"
                    data-bind="text: lastModifiedDateRelative(), attr: { title: lastModifiedDateAbsolute() }"></span>
              by
              <span data-bind="text: lastModifiedBy()"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sugar/2.0.4/sugar.min.js"></script>
  <script src="static/js/viewmodels.js"></script>
  <script src="static/js/app.js"></script>
{% endblock %}
