{% extends "base.html" %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/stylesheet.css">
{% endblock %}

{% block content %}
  <div class="container">
    {# Title/Header. #}
    <div class="row mt-4">
      <div class="col-auto"><h3>Feature Requests</h3></div>
      <div class="col-auto ml-auto">
        {# TODO: select client #}
        <button type="button" class="btn btn-info">New Feature</button>
      </div>
    </div>
    {# Feature requests. #}
    <div data-bind="foreach: featureRequests">
      <div class="row feature-request">
        <div class="priority">
          <span data-bind="text: priority"></span>
        </div>
        {# title top half, tags list, activity timesince + last comment author #}
        <div class="col-auto">
          <div class="title">
            <h5 class="d-inline" data-bind="text: client().name"></h5>
            <h5 class="d-inline"> - </h5>
            <h5 class="d-inline" data-bind="text: title"></h5>
          </div>
          <div>
            <div class="tags" data-bind="visible: productAreas().length > 0">
              <ul data-bind="foreach: productAreas()">
                <li data-bind="text: name"></li>
              </ul>
            </div>
            <div class="status" data-bind="if: lastModified()">
              {# TODO: Better hover list actual date. #}
              <span data-bind="if: comments.length > 0">modified</span>
              <span data-bind="if: comments.length == 0">created</span>
              <span data-bind="text: lastModified().date_relative, attr: { title: lastModified().date }"></span>
              by
              <span data-bind="text: lastModified().user.first_name"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sugar/2.0.4/sugar.min.js"></script>
  <script src="static/js/app.js"></script>
{% endblock %}
