{% extends "base.html" %}

{% block content %}
  <div class="container">
    {# Title/Header. #}
    <div class="row mt-4">
      <div class="col-auto">
        <a href="{{ url_for('main') }}"><h3>Feature Requests</h3></a>
      </div>
      <div class="col-auto" data-bind="if: filtering">
        <span class="tag" data-bind="click: filtering.bind($data, false)">
          <span data-bind="text: filteredByClient().name()"></span>
          <span class="fa fa-times-circle text-dark ml-1"></span>
        </span>
      </div>
      <div class="col-auto ml-auto">
        {# TODO: Select dropdown for client? #}
        <a href="{{ url_for('edit') }}" role="button" class="btn btn-primary">New Feature</a>
      </div>
    </div>
    {# Feature requests. #}
    <div data-bind="if: featureRequests().length === 0">
      <div class="row">
        {# TODO: Better looking display. #}
        <div class="col-auto mx-auto my-5">No feature requests exist!</div>
      </div>
    </div>
    <div class="gutter-fix-left" data-bind="foreach: featureRequests">
      <div class="row feature-request"
           data-bind="visible: (!$parent.filtering() || ($parent.filtering() && client().name() == $parent.filteredByClient().name()))">
        {# Priority #}
        <div class="col-auto priority d-flex align-items-stretch">
          <div class="priority-value d-flex flex-column justify-content-center">
            <span data-bind="text: priority"></span>
          </div>
          <div class="priority-control d-flex flex-column justify-content-center">
            {# Note: Decrementing priority value indicates HIGHER priority. #}
            <button class="fa fa-caret-up col px-2" aria-hidden="true"
                    data-bind="click: $parent.decrementPriority, enable: priority() != 1"></button>
            <button class="fa fa-caret-down col px-2" aria-hidden="true"
                    data-bind="click: $parent.incrementPriority"></button>
          </div>
        </div>
        {# Static FR information #}
        <div class="col info py-1">
          <div class="title">
            <a data-bind="visible: !$parent.filtering(), text: client().name, click: $parent.filterByClient" href="#"></a>
            <span data-bind="visible: !$parent.filtering()">-</span>
            {# TODO: How to properly build url with client-side code? #}
            <a data-bind="text: title, attr: { href: 'view/' + id() }"></a>
          </div>
          <div class="d-flex">
            <div class="tags" data-bind="visible: productAreas().length > 0">
              <ul data-bind="foreach: productAreas()">
                <li class="tag" data-bind="text: name"></li>
              </ul>
            </div>
            <div class="ml-auto status">
              <span>modified</span>
              <span class="hover-info"
                    data-bind="text: lastModifiedDateRelative(), attr: { title: lastModifiedDateAbsolute() }"></span>
              by
              <span data-bind="text: lastModifiedBy()"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sugar/2.0.4/sugar.min.js"></script>
  <script src="/static/js/viewmodels.js"></script>
  <script src="/static/js/app.js"></script>
{% endblock %}
