{% extends "base.html" %}

{% block content %}
  <div class="container">
    {# Title/Header. #}
    <div class="row mt-4">
      <div class="col-auto">
        {# TODO: link to home page #}
        <h3>Feature Requests</h3>
      </div>
    </div>
    <div class="row">
      {# TODO: url reverse for new view. #}
      <form action="/new/" method="post">
        {{ form.csrf_token }}
        <div>{{ form.title.label }} {{ form.title }}</div>
        <div>{{ form.user.label }} {{ form.user }}</div>
        <div>{{ form.client.label }} {{ form.client }}</div>
        <div>{{ form.priority.label }} {{ form.priority }}</div>
        <div>{{ form.description.label }} {{ form.description }}</div>
        <div>{{ form.target_date.label }} {{ form.target_date }}</div>
        {{ form.recaptcha }}
        <input type="submit" class="btn btn-primary">
      </form>
    </div>
    {% if form.errors %}
    <div class="row">
      {{ form.errors }}
    </div>
    {% endif %}
  </div>
{% endblock %}
